Source: vonsh
Section: games
Priority: optional
Maintainer: Andrzej Urbaniak <aurb@users.noreply.github.com>
Build-Depends: build-essential, debhelper (>= 9), libsdl2-dev (>=2.0.9), libsdl2-image-dev (>=2.0.4), libsdl2-mixer-dev (>=2.0.4)
Homepage: https://github.com/aurb/vonsh

Package: vonsh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Another snake game
 Lead your friends to get more food!
